@model IEnumerable<DataLayer.Class.Recipe>

@{
    ViewBag.Title = "ShowAllRecipes";
    Layout = "~/Views/Shared/headerAndFooter.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="bg-primary text-white">Recipes</h1>
        </div>
    </div>

    @{foreach (var item in Model)

            {
            <div class="item col-md-4 col-xs-6 col-xxs-12">
                <article class="entry">
                    <div class="entry__img-holder">
                        <a href="/recipe/Details/@item.RecipeId">
                            <img src="@item.Image" alt="" class="entry__img">
                        </a>
                    </div>
                    <div class="entry__body">
                        <div class="entry__header">
                            <a href="#" class="entry__meta__category">snack</a>
                            <h2 class="entry__title">
                                <a href="/recipe/Details/@item.RecipeId">@item.RecipeName</a>
                            </h2>
                        </div>

                    </div>
                </article>
            </div>
        }
    }
</div>