
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/headerAndFooter.cshtml";
}




<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="bg-danger text-white">oops! page not found</</h1>
    </div>
</div>


<div></div>
        <div class="text-center">
            <img class="img-fluid" style="max-width: 50%" src="~/Content/images/error.png" />
        </div>
<div class="row">
    <div class="col-md-12 text-center">
        Back to <a href="/home/index">Home</a>
    </div>
    </div>