@model DataLayer.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/headerAndFooter.cshtml";
}


  
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="bg-danger text-white">Are you sure you want to delete this?</h1>
            </div>
        </div>  

        <div class="row">
            <div class="col-md-12 text-center">
                <img style="max-height:400px; max-height:700px;" src="@Model.Image" />
            </div>
        </div>
        <div class="row">
            <h1>@Model.Title</h1>
        </div>
        <div class="row">
            <p class="h3">@Model.Description</p>
        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="row">
                    <div class="col-md-4 offset-4 text-center">
                        <input type="submit" value="Delete" class="btn-danger" />
                    </div>
                </div>
            </div>
        }
    </div>

